{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "off"
}
